---
---

<section class="py-20 sm:py-32">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Are you ready to innovate?</h2>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="https://outlook.office.com/bookwithme/user/f0762b9af6a94ed2add9818a4f3ca4e5@digitaltechnologypartner.ai/meetingtype/qc2lOXjEdkO6GkMS_jZJrQ2?anonymous" target="_blank" rel="noopener noreferrer" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 relative z-10">Book a Discovery Call</a>
    </div>
  </div>
</section>
